section {
    padding: 100px 0;
    position: relative;
    width: 100%;
}

body {
	background: #ffffff none repeat scroll 0 0;
    color: #888888;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
	-webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing:grayscale;
}
h1,h2,h3,h4,h5,h6 {
	color: #292b2c;
	
}
p {
	color:#888888;
}
a {
	color: #292b2c;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
a:hover {
	color: #FFBC09;
	text-decoration: none;

}
.dropdown-menu li a:hover{
color: #FFBC09 !important;}
a:focus {
	outline: none;
	text-decoration: none;
}
button {
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
img {
	max-width: 100%;
}
ul,li,ol {
	margin: 0;
	padding: 0;
}
.bg-color{
	background-color: #FFBC09;
}
.small-section{
	padding-bottom: 50px;
	padding-top: 50px;
}
.text-wh * {
    color: #fff;
}
.ripple {
	background-color: #FFFFFF;
	border-radius: 100%;
	color: #FFBC09;
	position: relative;
	display: inline-block;
	margin-right: 25px;
	line-height: 50px;
	font-size: 18px !important;
	vertical-align: middle;
	margin-left: 0;
	height: 50px;
    width: 50px;
	text-align: center;
}
.ripple::before,.ripple::after {
	 -webkit-animation: ripple 1.8s infinite;
	 -moz-animation: ripple 1.8s infinite;
	 -o-animation: ripple 1.8s infinite;
	 animation: ripple 1.8s infinite;
	 background-color: #ffffff;
	 border-radius: 100%;
	 margin: -20px;
	 bottom: 0px;
	 content: "";
	 display: block;
	 left: 0px;
	 opacity: 0;
	 position: absolute;
	 right: 0px;
	 top: 0px;
	 z-index:-1;
}
.ripple::before {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.ripple::after {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
@-webkit-keyframes ripple{
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    50%{
        opacity:0.5;
    }
	100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:0;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    50%{
        opacity:0.5;
    }
	100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
.pagination a {
    border: 2px solid #dee2e6;
    border-radius: 4px;
    color: #888888;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 36px;
    padding: 0;
}

