.info-header{
    padding: 10px 0;
    .header-contact{
        font-size: 0;
        li:first-child {
            margin-left: 0px;
        }
        li {
         
            font-size: 14px;
            padding: 2px 3px;
            vertical-align: middle;
            display: inherit;
        }
        li a {
            color: #fff;

        }
        a:hover{
            color:  #FFBC09;
        }
        i {
            margin-right: 8px;
            vertical-align: middle;
            font-size: 18px;
        }
    }
    .socialicons{
        font-size: 0;
        li {
            display: inline-block;
            padding: 2px 3px;
            
            a {
                color: #fff;
                border-color: #fff;
                font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
            }
            a:hover{
                color:  #FFBC09;
            }
        }
    }
    .login-apply{
        
li{
    position: relative;
    padding-left: 15px;
  a{color: #fff;
    font-size: 14px;
} 
a:hover{
    color:  #FFBC09;
} 
}
    }
    .login-apply::before {
        content: "";
        position: absolute;
        left: 0;
        height: 25px;
        width: 1px;
        background-color: #eee;
    }
}

.navbar-toggler {
    float: right;
    margin: 9px 0;
    font-size: 28px;
    transition: all 0.5s ease 0s;
}
.navbar-expand-lg .navbar-nav > li > .nav-link {
    font-size: 14px;
    font-weight: 600;
    padding: 25px 10px;
    text-transform: uppercase;
    
}

.navbar-nav .dropdown-menu {
    background-color: #fff;
    box-shadow: 0 13px 42px 11px rgba(0,0,0,.05);
    border: 1px solid #eee;
    margin-top: -1px;
}

    .navbar-expand-lg .navbar-nav .dropdown-item {
        padding: 8px 25px 8px 10px;
        color: #ffffff;
        font-size: 14px;
        text-transform: capitalize;
    }
    .navbar-nav .dropdown-item {
        color: #333 !important;}
        .navbar-expand-lg .attr-nav li .nav-link i {
            font-size: 20px;
        }

        @media only screen and (max-width: 991px){.navbar-expand-lg .navbar-nav {
            display: block;
            float: right;
        }} 

        .search-overlay.open {
            visibility: visible;
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        .search-overlay {
            border: 1px solid #ddd;
            right: 0;
            opacity: 0;
            position: absolute;
            min-width: 300px;
            top: 100%;
            transition: all 0.25s ease-in-out 0s;
            visibility: hidden;
            width: 100%;
            z-index: 999;
            background-color: #fff;
            padding: 15px;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transform-origin: -webkit-calc(100% - 30px) 0;
            transform-origin: calc(100% - 30px) 0;
        }
        .is-sticky {
            position: fixed;
            z-index: 50;
            top: 0;
            right: 0;
            left: 0;
            background-color: white;
            -webkit-transition: all 0.7s;
            transition: all 0.7s;
        }
        .search-menu {
            margin-left: -140px;
            z-index: 1;
            padding: 8px;
            width: 200px;
        }
        .search-menu a {
            position: absolute;
            top: 7px;
            right: 7px;
        }
        .dropdown-menu.show {
            display: block;
        }
        
        