footer{

    .top{
        padding: 100px 0px;
        .footer-logo{
            margin-bottom: 15px;
        }
        p{
            color: #fff;
            font-size: 14px;
        }
       .contact-info li{
           list-style: none;
           margin-top: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    a{
        color: #fff;
    }
       }
       .contact-info li i{
        font-size: 18px;
        vertical-align: middle;
        max-width: 30px;
        width: 100%;
        text-align: center;
        margin-right: 5px;
       }

    }
    .title{
        font-size: 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: capitalize;
    position: relative;
    color: #fff;
    }
    .links-list li{
        list-style: none;
        padding: 0 0 10px;
        transition: all 0.5s;
            &:hover{
                transform: translateX(11px);
                color: #FFBC09;
            }
        a{
            color: #fff;
            font-size: 14px;
    position: relative;
        }
    
    }
    .post li{
        list-style: none;
        display: inline-block;
   width: 100%;
   margin-bottom: 12px;
   .recent-post-img{
       float: left;
   margin-right: 10px;
   max-width: 60px;
   }
   .recent-post-content{
       overflow: hidden;
       h6 {
           font-size: 14px;
           line-height: normal;
           margin-bottom: 5px;
           color: #fff;
           
       font-weight: normal;
       a{
           color: #fff;
       }
       .recent-post-content-date{
           font-size: 80%;
           color: rgba(255,255,255,0.6);
       }
       }
   }

    }  
    .username{
        position: relative;
        input {
            padding: 10px 105px 10px 15px;
            width: 100%;
            border: 0;
            color: #777777;
            height: 43px;
        }
        button {
            position: absolute !important;
            right: 4px;
            top: 4px;
        }
    }
    .list-icon{
        font-size: 0;
        li{
            list-style: none;
            display: inline-block;
            padding: 2px 3px;
            a{
                font-size: 18px;
    height: 35px;
    width: 35px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
                background-color: rgba(255,255,255,0.1);
                color: #fff;
    border-color: #fff;
    border-radius: 5px;
    
            }
        }
    } 
   .bottom{
    padding: 30px 0;
    position: relative;
    background-color: #202325;
   .bottom-link li{
       display: inline-block;
    position: relative;
         list-style: none; 
        a{
            font-size: 14px;
    padding: 0 5px;
    color: #fff;
        }
   }
    }
}
.footer .post li a:hover,
.footer .bottom-link li a:hover,
.footer .recent-post-content h6 a:hover,
.footer .contact-info a:hover,
.footer .links-list li a:hover,
.footer .list-icon li a:hover {
	color: #FFBC09 !important;
}
.scrollup {
    position: absolute;
    background-color: #2f2f2f;
    border-radius: 100%;
    bottom: 20px;
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    line-height: 38px;
    position: fixed;
    right: 50px;
    text-align: center;
    width: 40px;
    z-index: 99;
}

