

.upcoming-box {
    background-color: #fff;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    .upcoming-img {
        border-radius: 10px 10px 0 0;
        overflow: hidden;
        position: relative;
        a{display: block;}
        img {
            transition: all 0.5s ease-in-out;
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
            transform: scale(1);
            width: 100%;
        }
        .upcoming-date {
            position: absolute;
            top: 10px;
            left: 10px;
            max-width: 75px;
            background-color: #fff;
            text-align: center;
            width: 100%;
            h5 {
                font-size: 14px;
                margin: 0;
                padding: 5px;
                 span {
                    display: block;
                    font-size: 24px;
                }
            }
        }

        .time {
            display: block;
            padding: 5px;
            background-color: #FFBC09;
            color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    
        }
    }

    .upcoming-content {
        position: relative;
        padding: 15px;
        .upcoming-title {
            font-size: 18px;
    margin-bottom: 10px;
        }

        .upcoming-icon {
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 10px;
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            li {
                float: left;
                padding-right: 15px;
                font-size: 15px;
                i {
                    margin-right: 6px;
                    font-size: 14px;
                }
            }
        }
    }
}